*{
    border: 1px solid red;
}

/**********************************************************/

body{
    font-family: roboto;
}

/**********************************************************/

#div1{
    background-color: #1f2937;
}

#div1 > #A > h1{
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}

#div1 > #A > button{
    background-color: #3882f6;
    color: white;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#div1 > #header > #header-logo{
    font-size: 24px;
    color: #f9faf8;
}

#div1 > #A > h2, #div1 > #header > #header-links{
    font-size: 18px;
    color: #e5e7eb;
}

#div1 > #header > #header-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#div1 > #header > #header-links > #link2{
    margin-left: 10px;
    margin-right: 10px;
}

#div1 > #header{
    display: flex;
    justify-content: space-around;
}