*{
    border: 1px solid red;
}

/**********************************************************/

body{
    font-family: roboto;
    margin: 0px;
    padding: 0px;
    display: flex;
}

/**********************************************************/

.black-margin{
    width: 500px;
    background-color: black;
}

#div1{
    background-color: #1f2937;
}

#div1 > #not-header > #A > h1{
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}

#div1 > #not-header > #A > button{
    background-color: #3882f6;
    color: white;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#div1 > #header > #header-logo{
    font-size: 24px;
    color: #f9faf8;
}

#div1 > #not-header > #A > h2, #div1 > #header > #header-links{
    font-size: 18px;
    color: #e5e7eb;
}

#div1 > #header > #header-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#div1 > #header > #header-links > #link2{
    margin-left: 10px;
    margin-right: 10px;
}

#div1 > #header{
    display: flex;
    justify-content: space-around;
}

#div1 > #not-header > #image-placeholder{
    background-color: lightslategray;
    color: white;
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#div1 > #not-header{
    display: flex;
}