*{
    border: 1px solid red;
}

body{
    font-family: roboto;
}

#div1{
    background-color: #1f2937;
}

#div1 > #A > h1{
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}

#div1 > #header > #header-logo{
    font-size: 24px;
    color: #f9faf8;
}

#div1 > #header > ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#div1 > #header > ul > li > a{
    font-size: 18px;
    color: #e5e7eb;
}